hr {
  margin: 1rem 0;
  border: 0;
  border-top: 1px solid rgba(65, 62, 62, 0.397);
}

.notes-title {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.note-title-container {
  text-align: center;
}

.note-card {
  background-image: url("./bg1.svg");
}

.model-container{
  background-position: center;
  padding: 4rem 2rem;
}